<div>
     <div class="d-flex align-items-center">
          <button 
          class="btn btn-primary"
          style="text-align: left;width: 150px;border: none;">Room</button>
          <button
          id="add-room-btn"
          data-name="change-container"
          data-type="room-container" 
          class="ms-1 mb-0" 
          data-new="true"
          <% if(data.hod) { %>
               style="border-radius: 50%;outline: none;border: none; "
          <% } else { %>
               style = "display:none"
          <% } %> 
          >
               <i class="bi bi-plus"></i>
           </button>
          </div>
          <div id="room-li-container"  class="border border-primary my-2" style="padding-left: 20px;">
               <% for(let i in data.rooms) { %>
                    <div class="my-1 mt-0">
                         <button
                         class="btn btn-primary"
                         %>">
                              <%= i%>
                         </button>
                         <div data-programid="<%= data.rooms[i]['id'] %>" style="padding-left: 20px;">
                              <% data.rooms[i]['room'].forEach(({roomId,roomName})=>{ %>
                                   <div class="my-1">
                                        <button
                                        data-hid="<%= data.hod %>"
                                        data-programid="<%= data.rooms[i]['id'] %>"
                                        data-userole="staff"
                                        data-type="room-container"
                                        data-name="change-container"
                                        style="text-align: left;width: 120px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;" 
                                        class="btn btn-primary p-1"
                                        data-roomid="<%= roomId %>">
                                             <%= roomName %>
                                        </button>
                                   </div>
                              <%}) %>
                         </div>
                    </div>
               <% } %>
          </div>
</div>
