<div 
id="today-activity-container"
style="overflow: auto;"
class=" p-2"
>
     <div>
          <% if(data.todayActivity.routine.length === 0){ %>
               <p>
                    Not activity today
               </p>
          <% } %>
          <table class="table table-primary table-separated">
               <thead>
                    <tr>
                    <% data.todayActivity.time.forEach(({startHour,endHour})=>{ %>
                         <th>
                              <div class="d-flex" >
                                   <input 
                                   style="border: none;background-color: transparent;"
                                   type="time" disabled value="<%= startHour%>" >
                                   <input 
                                   style="border: none;background-color: transparent;"
                                   type="time" disabled value="<%= endHour%>" >
                              </div>
                              
                         </th>
                    <% }) %>
                    </tr>
               </thead>
               <tbody>
                    <tr>
                    <% data.todayActivity.routine.forEach(({subject,staff,roomId,programId})=>{ %>
                         <td>
                              <div class="border border-mute">
                                   <input
                                   data-subject="<%= subject%>"
                                   data-staffname="<%= staff %>"
                                   data-roomid = "<%= roomId %>"
                                   data-programid = "<%= programId %>"
                                   id="absent-checkbox"
                                   checked type="checkbox" >
                                   <%= subject %>
                                   <br>
                                   <%= staff %>
                              </div>
                         </td>
                    <% }) %>
                    </tr>
               </tbody>
          </table>
     </div>
</div>
